@model IEnumerable<SimpleTodoList.Models.List>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <h1>Index</h1>
    <div class="d-grid gap-2">
        <a asp-action="Create" class="btn btn-primary" type="button">Create new</a>
    </div>
</div>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TitleList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            Options
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleList)
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.DescriptionList)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.IdList">Edit</a> 
                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.IdList">Details</a>
                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.IdList">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

